$primary-color: #3777ff;
$primary-color-transparent: #3776ff42;
$primary-color-dark:#1955fd;
$primary-color-light:#87c6fd;

$secondary-color: #32936F;
$secondary-color-dark: #0d754f;
$secondary-color-light: #4bb990;