* {
  padding: 0px;
  margin: 0;
}

body {
  background-color: rgba(240, 246, 252, 0.877);
  overflow-x: hidden;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

h1 {
  font-size: 28px;
}

.carousel img {
  height: 350px;
}

/* NAVBAR */
ul.topnav {
  justify-content: center;
  position: sticky;
  top: 0;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  background-color: #87c6fd;
}
@media (max-width: 600px) {
  ul.topnav {
    flex-direction: column;
  }
}
ul.topnav li {
  float: left;
}
ul.topnav li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: all 0.5s ease-in-out;
  margin-right: 2px;
}
ul.topnav li a:hover:not(.active) {
  background-color: #1955fd;
  transform: translateX(-3px);
  margin-right: -5px;
}
ul.topnav li a.active {
  background-color: #1955fd;
  color: white;
}
@media (max-width: 600px) {
  ul.topnav li a {
    font-size: 10px;
  }
}
@media (max-width: 600px) {
  ul.topnav li {
    float: none;
  }
}
ul.topnav li.right {
  float: right;
}

/* NAVBAR */
/* FOOTER */
.footer {
  padding: 40px 0;
  background-color: #3777ff;
  color: #1b1919;
}
.footer ul {
  padding: 0;
  list-style: none;
  text-align: center;
  font-size: 18px;
  line-height: 1.6;
  margin-bottom: 0;
}
.footer ul li {
  padding: 0 10px;
}
.footer ul a {
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
}
.footer ul a:hover {
  opacity: 1;
}
.footer .social {
  text-align: center;
  padding-bottom: 25px;
}
.footer .social > a {
  font-size: 24px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #1b1919;
  margin: 0 8px;
  color: inherit;
  opacity: 0.75;
}
.footer .social > a:hover {
  opacity: 0.9;
}
.footer .copyright {
  margin-top: 15px;
  text-align: center;
  font-size: 13px;
  color: #aaa;
  margin-bottom: 0;
}

/* FOOTER */
/* BOTONES */
.button_primary {
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
}
.button_primary:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  background-color: #1955fd;
}

.button_secondary {
  border-radius: 5px;
  padding: 5px 12px;
  font-size: 1rem;
  text-decoration: none;
  color: #fff;
  position: relative;
  display: inline-block;
}
.button_secondary:hover {
  transform: translate(0px, 5px);
  -webkit-transform: translate(0px, 5px);
  box-shadow: 0px 1px 0px 0px;
  background-color: #0d754f;
}

.primary {
  background-color: #3777ff;
  box-shadow: 0px 5px 0px 0px #1955fd;
}

.secondary {
  background-color: #32936F;
  box-shadow: 0px 5px 0px 0px #0d754f;
}

/*BOTONES*/
/*index*/
.notice {
  height: 720px;
  justify-content: center;
}
@media (max-width: 900px) {
  .notice {
    height: 600px;
  }
}
@media (max-width: 769px) {
  .notice {
    height: 620px;
  }
}
@media (max-width: 356px) {
  .notice {
    height: 520px;
  }
}
.notice_img {
  overflow: hidden;
  max-width: 400px;
  width: 100%;
  max-width: 100%;
  height: 300px;
  object-fit: cover;
}
@media (max-width: 356px) {
  .notice_img {
    height: 200px;
  }
}
.notice_title {
  min-width: 300px;
}
.notice_body {
  overflow: hidden;
  width: 100%;
  height: 280px;
}

.spotify_list {
  width: 100%;
  height: 600px;
  border-radius: 12px;
}
@media (max-width: 376px) {
  .spotify_list {
    height: 600px;
  }
}

.principal_notice {
  width: 100%;
  height: 100%;
}
.principal_notice .principal_img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  justify-content: center;
}
.principal_notice .principal_img img {
  border: 0.5px solid black;
  border-radius: 5px;
}

.secondary_img {
  margin-top: 10px;
  height: 180px;
  object-fit: cover;
  overflow: hidden;
  justify-content: center;
}
.secondary_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
  border: 2px solid #aaa;
}

.notice_container {
  height: 340px;
  justify-content: center;
}
.notice_container h6 {
  height: 60px;
}

.video_container iframe {
  height: 200px;
  width: 320px;
}

/* CONTACTO */
.form_input {
  border-radius: 10px;
  line-height: 10px;
  background-color: transparent;
  border: 2px solid #1955fd;
  transition: all 0.5s ease-in-out;
  padding: 10px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}
.form_input:focus {
  border: 2px solid #0d754f;
}

/* CONTACTO */
/*ENTREVISTAS*/
.article_principal {
  text-align: center;
  justify-content: center;
}
.article_principal iframe {
  margin-top: 30px;
  margin-bottom: 30px;
  height: 350px;
  width: 600px;
}
@media (max-width: 769px) {
  .article_principal iframe {
    height: 300px;
    width: 500px;
  }
}
@media (max-width: 600px) {
  .article_principal iframe {
    height: 250px;
    width: 450px;
  }
}
@media (max-width: 440px) {
  .article_principal iframe {
    height: 250px;
    width: 350px;
  }
}
@media (max-width: 376px) {
  .article_principal iframe {
    height: 200px;
    width: 300px;
  }
}
@media (max-width: 440px) {
  .article_principal h1 {
    font-size: 30px;
    margin-bottom: 20px;
  }
}
.article_principal p {
  text-align: justify;
  margin-top: 20px;
}
.article_secondary_container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}
@media (max-width: 600px) {
  .article_secondary_container {
    grid-template-columns: repeat(1, 1fr);
  }
}
.article_secondary_item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
@media (max-width: 769px) {
  .article_secondary_item {
    flex-direction: column;
    text-align: center;
  }
}
.article_secondary_item iframe {
  width: 220px;
  height: 120px;
}
@media (max-width: 900px) {
  .article_secondary_item iframe {
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .article_secondary_item iframe {
    width: 300px;
    height: 200px;
  }
}
.article_secondary_item h3 {
  font-size: 15px;
  margin-left: 10px;
}
@media (max-width: 600px) {
  .article_secondary_item h3 {
    font-size: 20px;
  }
}

/*ENTREVISTAS*/
/*PROXIMOS CONCIERTOS*/
.banner_concert {
  box-shadow: -6.891px 24.032px 76px 0px rgba(102, 69, 118, 0.34);
  border-radius: 20px;
  margin-top: 20px;
  height: 370px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background: #1955fd;
}
@media (max-width: 769px) {
  .banner_concert {
    height: 300px;
    width: 900px;
  }
}
@media (max-width: 500px) {
  .banner_concert {
    height: 200px;
    width: 680px;
  }
}
@media (max-width: 376px) {
  .banner_concert {
    height: 150px;
    width: 650px;
  }
}
.banner_concert img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  width: 100%;
  border-radius: 20px;
}
.banner_concert img:hover {
  opacity: 0.5;
  -webkit-transition: 0.3s ease-in-out;
  transition: 0.3s ease-in-out;
}

/*PROXIMOS CONCIERTOS*/
@media screen and (max-width: 990px) {
  .principal_notice .principal_img {
    width: 500px;
    height: 400px;
  }
  .notice_container h6 {
    height: 50px;
    width: 350px;
  }
  .secondary_img {
    width: 330px;
    height: 200px;
  }
  .notice_body {
    height: 150px;
  }
}
@media screen and (max-width: 769px) {
  .principal_notice .principal_img {
    width: 480px;
    height: 340px;
  }
  .notice_container {
    width: auto;
    height: 450px;
  }
  .notice_container h6 {
    height: 40px;
    width: 500px;
  }
  .secondary_img {
    width: 500px;
    height: 300px;
  }
}
@media screen and (max-width: 600px) {
  .notice_container {
    width: auto;
    height: 390px;
  }
  .notice_container h6 {
    height: 60px;
    width: 450px;
  }
  .secondary_img {
    width: 450px;
    height: 250px;
  }
  .carousel img {
    height: 200px;
  }
}
@media screen and (max-width: 428px) {
  .principal_notice .principal_img {
    width: 480px;
    height: 260px;
  }
  .notice_container h6 {
    height: 60px;
    width: 100%;
  }
  .secondary_img {
    width: 100%;
    height: 240px;
  }
  .video_container iframe {
    height: 200px;
    width: 280px;
  }
  .carousel img {
    height: 200px;
  }
}
@media screen and (max-width: 376px) {
  .carousel img {
    height: 170px;
  }
}

/*# sourceMappingURL=styles.css.map */
